services:
  - type: web
    name: image-classifier-app
    env: python
    region: oregon
    plan: free
    branch: main
    buildCommand: |
      chmod +x setup.sh
      ./setup.sh
    startCommand: gunicorn app:app --timeout 120
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.18
      - key: SECRET_KEY
        generateValue: true
    disk:
      name: data
      mountPath: /opt/render/project/src
      sizeGB: 1