Flask>=3.0.0
Flask-SQLAlchemy>=3.0.0
torch==2.9.1+cpu
torchvision==0.24.1+cpu
clip @ git+https://github.com/openai/CLIP.git
numpy==1.26.4
Pillow==10.4.0
scikit-learn==1.5.2  # EM VEZ DE FAISS
matplotlib==3.10.7
tqdm==4.67.1
python-dotenv==1.0.1
