Flask==2.3.2
Pillow==9.5.0
torch==1.13.1
torchvision==0.14.1
faiss-cpu==1.7.4
ftfy==6.1.1
regex==2023.6.3
tqdm==4.65.0
git+https://github.com/openai/CLIP.git
numpy==1.24.3
pandas==1.5.3
python-dotenv==1.0.0
gunicorn==20.1.0
Flask-SQLAlchemy==3.0.5