Flask==2.3.3
Pillow==10.0.0
torch==1.13.1  # Versão mais leve
torchvision==0.14.1
faiss-cpu==1.7.4
numpy==1.24.3
pandas==1.5.3  # Versão mais leve
python-dotenv==1.0.0
gunicorn==20.1.0
Flask-SQLAlchemy==3.0.5